<div class="container">
  <% if @conversation.sender_id == current_user.id %>
    <% recipient = User.find(@conversation.recipient_id) %>
  <% else %>
    <% recipient = User.find(@conversation.sender_id) %>
  <% end %>

  <h2>Chatting with: <%= recipient.email %></h2>
  </br>

  <% @messages.each do |message| %>
    <div class="form-group col-md-5 col-md-offset-2">
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <b><%= user.email %></b>
        <i>
          <%= "at " + message.message_time %>
          <%= "said: " %>
        </i>
        <%= message.body %>
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'form' %>
</div>
